<p>Explanation of how it works. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est diam, varius at velit eget, condimentum tristique eros. Donec sed urna ligula. Nunc nec nibh consequat, ornare justo vitae, scelerisque libero. Cras eu scelerisque turpis. Mauris ut ligula sit amet ipsum placerat posuere. Etiam luctus est et lacus porttitor malesuada. Integer euismod, nunc nec gravida maximus, risus nibh placerat neque, eget condimentum odio nisl a ligula. Mauris non risus in ante finibus convallis id ac neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis viverra elit. Donec feugiat lorem tortor, volutpat consectetur nisl aliquam sed. In vitae massa non dui posuere elementum. Praesent vitae augue eget tellus lobortis porta nec non augue. Donec hendrerit aliquam sapien eu suscipit.</p>
<hr>
<div class="text-center">
  <a href="#/countries">
    <div class="btn btn-primary">Browse Countries</div>
  </a>
</div>